<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" target=_blank href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
    <link rel="stylesheet" href="/css/style.css">
    {{!--
    <link rel="stylesheet" href="/css/lightStyle.css"> --}}
    {{#if pageLevelCss}}
    <link rel="stylesheet" href="/{{pageLevelCss}}">{{/if}}
    {{#if soloCharacter}}
    <link rel="stylesheet" href="/css/{{soloCharacter}}">{{/if}}
    {{#if createCharacterStyle}}
    <link rel="stylesheet" href="/css/{{createCharacterStyle}}">{{/if}}
    <script src="https://kit.fontawesome.com/eff6e79ce1.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <title>DND</title>
</head>

<body class="d-flex flex-column min-vh-100">
    {{>header}}
    {{{body}}}
    {{>footer}}
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://kit.fontawesome.com/958f7ded4f.js" crossorigin="anonymous"></script>
    <script src="/scripts/worldwideScript.js"></script>
</body>

</html>