<div id="container" class="container d-flex flex-column justify-content-center align-items-center h-25 p-5 mt-5">
    <h1>404 Error!</h1>
    <p>It looks like you entered an invalid URL and got lost. Have a drink with the Lizard Folk and return to the home
        page whenever you're ready.</p>
    <img class="w-50 align-center mt-4"
        src="https://cdn.vox-cdn.com/thumbor/KFo9bWkMEi3t-xkmpVivGvjTmHM=/1400x1400/filters:format(jpeg)/cdn.vox-cdn.com/uploads/chorus_asset/file/22720750/326430_Gem_dragonborn_By_Zoltan_Boros.jpg"
        alt="Lizard Folk sitting in a circle having a drink.">
    <a href="/" class="btn btn-primary btn-info py-2 px-4 mt-4">Home</a>
</div>