<div class="container" id="mainContainer">
    <div class="row" id="row0">
        <div class="col">
            <div>Character Name</div>
        </div>
        <div class="col container">
            <div class="row">
                <img src="/images/icons/swords.png">
            </div>
            <div class="row">
                <div class="text-center">Level</div>
            </div>
        </div>

        <div class="col container">
            <div class="row">
                <img src="/images/icons/class/barbarian.png">
            </div>
            <div class="row">
                <div class="text-center">Class Name</div>
            </div>
        </div>

        <div class="col container">
            <div class="row">
                <img src="/images/icons/race/elf.png">
            </div>
            <div class="row">
                <div class="text-center">Race</div>
            </div>
        </div>

        <div class="col container">
            <div class="row">
                <img src="/images/icons/shield.png">
            </div>
            <div class="row">
                <div class="text-center">Armor Class</div>
            </div>
        </div>


        <div class="col">
            <div>Init</div>
        </div>
        <div class="col">
            <div>Speed</div>
        </div>
    </div>

    <div class="row" id="row1">
        <div class="col ability">
            <div class="abilities">Str</div>
        </div>
        <div class="col" id="logoCol">
            <div>Logo</div>
        </div>
        <div class="col">
            <div>EXP</div>
        </div>
    </div>

    <div class="row" id="row2">
        <div class="col ability">
            <div class="abilities">DEX</div>
        </div>
        <div class="col">
            <img src="/images/icons/heart.png">
        </div>
        <div class="col">
            <img src="/images/icons/tmp.png">
        </div>

        <div class="col">
            <div>+/-</div>
        </div>
    </div>

    <div class="row" id="row3">
        <div class="col ability">
            <div class="abilities">CON</div>
        </div>
        <div class="col skills">
            <div>1 Skills</div>
        </div>
        <div class="col">
            <div>1 Items</div>
        </div>
    </div>

    <div class="row" id="row4">
        <div class="col ability">
            <div class="abilities">INT</div>
        </div>
        <div class="col skills">
            <div>2 Skills</div>
        </div>
        <div class="col items">
            <div>2 Items</div>
        </div>
    </div>

    <div class="row" id="row5">
        <div class="col ability">
            <div class="abilities">WIS</div>
        </div>
        <div class="col skills">
            <div>3 Skills</div>
        </div>
        <div class="col items">
            <div>3 Items</div>
        </div>
    </div>

    <div class="row" id="row6">
        <div class="col ability">
            <div class="abilities">CHA</div>
        </div>
        <div class="col skills">
            <div>4 Skills</div>
        </div>
        <div class="col items">
            <div>4 Items</div>
        </div>
    </div>

    <div class="row" id="row7">
        <div class="col">
            <div class="savingThrows">Saving Throws</div>
        </div>
        <div class="col">
            <div>Spells</div>
        </div>
    </div>
</div>