

{{#if error}}
  <div class="alert alert-danger text-center container w-50 alert-dismissible fade show myAlert" role="alert">
    <h4>{{status}} Error</h4>
    <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:">
      <use xlink:href="#exclamation-triangle-fill" />
    </svg>{{error}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  {{/if}}
<div class="container text-center" id="h1Main">
  <h1>Mind Flayer's Atheneum</h1>
</div>
<div class="container w-50" id="carouselDiv">
  <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active gradient">
        <img src="./images/hero/modelhero.jpg" class="d-block w-100" alt="DND Model">
      </div>
      <div class="carousel-item gradient">
        <img src="./images/hero/dicehero.jpg" class="d-block w-100" alt="DND Dice">
      </div>
      <div class="carousel-item gradient">
        <img src="./images/hero/spectrehero.jpg" class="d-block w-100" alt="DND Spectre">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>

<div class="container px-4 py-5" id="hanging-icons">
  <h2 class="pb-2 border-bottom">Features</h2>
  <div class="row g-4 py-5 row-cols-1 d-flex align-items-center row-cols-lg-3">
    <div class="col d-flex align-items-start">
      <div class="icon-square text-light flex-shrink-0 me-3">
        <img src="./images/icons/wizardW.png">
      </div>
      <div>
        <h2>Create your own Character</h2>
        <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and
          probably just keep going until we run out of words.</p>
        <a href="#" class="btn btn-primary">
          Characters
        </a>
      </div>
    </div>
    <div class="col d-flex align-items-start">
      <div class="icon-square text-light flex-shrink-0 me-3">
        <img src="./images/icons/spellbook.png">
      </div>
      <div>
        <h2>Add a Spell to your Arsenal</h2>
        <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and
          probably just keep going until we run out of words.</p>
        <a href="/spells" id="spellsFeaturesLink" class="btn btn-primary">
          Spells
        </a>
      </div>
    </div>
    <div class="col d-flex align-items-start">
      <div class="icon-square text-light flex-shrink-0 me-3">
        <img src="./images/icons/cart.png">
      </div>
      <div>
        <h2>Shop for Your Own 3D Models</h2>
        <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and
          probably just keep going until we run out of words.</p>
        <a href="#" class="btn btn-primary">
          Shop
        </a>
      </div>
    </div>
  </div>
</div>