<h1 class="text-center mt-0">Races</h1>
<div class="d-flex flex-wrap  justify-content-center">
{{#each races}}
<form action="/races/{{Id}}" class="d-flex bg-card card-btn m-4" style="border-radius: 20px">
    <img class="card-img-top" src="/images/other/{{Name}}_{{randomClass}}.png" alt="Card image" style="height: 300px;">
    {{!-- <img class="card-img-top" src="/images/other/Human_Barbarian.png" alt="Card image" style="width:100%"> --}}
    <div class="card-body">
      <h4 class="card-title">{{Name}}</h4>
    </div>
</form>
{{/each}}
</div>

<style>
    @media only screen and (max-width: 1200px){
        
        .card-img-top{
            max-height: 200px !important;
        }

    }
</style>
<script src="/scripts/cardPicker.js"></script>