<div class="containerGrid">
  <div class="charName iconDiv">
    <h5 class="text-center">Kate the Great</h5>
  </div>
  <div class="level iconDiv">
    <img class="iconImg" src="/images/icons/swords.png">
    <h5 class="text-center">Level: 5</h5>
  </div>
  <div class="class iconDiv">
    <img class="iconImg" src="/images/icons/class/barbarian.png">
    <h5 class="text-center">Barbarian</h5>
  </div>
  <div class="race iconDiv">
    <img class="iconImg" src="/images/icons/race/elf.png">
    <h5 class="text-center">Elf</h5>
  </div>
  <div class="AC iconDiv">
    <img class="iconImg" src="/images/icons/shield.png">
    <h5 class="text-center">AC: 20</h5>
  </div>
  <div class="initiative iconDiv">
    <img class="iconImg" src="/images/icons/initiative.png">
    <h5 class="text-center">Initiative: 16</h5>
  </div>
  <div class="speed iconDiv">
    <img class="iconImg" src="/images/icons/speed.png">
    <h5 class="text-center">Speed: 25</h5>
  </div>
  <div class="Abilities">

  </div>
  <div class="strength">
    <h6>Strength</h6>
    <h5 class="text-center">14</h5>
    <h6 class="text-center abilityBonus green w-33">+2</h6>
  </div>
  <div class="dexterity">
    <h6>Dexterity</h6>
    <h5 class="text-center">10</h5>
    <h6 class="text-center abilityBonus w-33">0</h6>
  </div>
  <div class="constitution">
    <h6>Constitution</h6>
    <h5 class="text-center">8</h5>
    <h6 class="text-center abilityBonus w-33">-1</h6>
  </div>
  <div class="intelligence">
    <h6>Intelligence</h6>
    <h5 class="text-center">12</h5>
    <h6 class="text-center abilityBonus w-33">+1</h6>
  </div>
  <div class="wisdom">
    <h6>Wisdom</h6>
    <h5 class="text-center">9</h5>
    <h6 class="text-center abilityBonus w-33">0</h6>
  </div>
  <div class="charisma">
    <h6>Charisma</h6>
    <h5 class="text-center">14</h5>
    <h6 class="text-center abilityBonus w-33">+2</h6>
  </div>
  <div class="experience">
    <h5 class="inline" id="expText">EXP: 300</h5>
  </div>
  <div class="health">
    
  </div>
  <div class="hpbtn"></div>
  <div class="skills"></div>
  <div class="items"></div>
  <div class="savingthrows"></div>
  <div class="img">
    <img class="characterImg" src="/images/icons/characters/elf_barbarian.png">
  </div>
  <div class="spells"></div>
  <div class="expLogo iconDiv">
    <img class="iconImg" src="/images/icons/exp.png">
  </div>
  <div class="hpLogo iconDiv">
  <img class="iconImg" src="/images/icons/heart.png"></div>
</div>
