<div class="containerGrid">
  <div class="charName iconDiv">
    <h5 class="text-center">Kate the Great</h5>
  </div>
  <div class="level iconDiv">
    <img class="iconImg" src="/images/icons/swords.png">
    <h5 class="text-center">Level: 5</h5>
  </div>
  <div class="class iconDiv">
    <img class="iconImg" src="/images/icons/class/barbarian.png">
    <h5 class="text-center">Class: Barbarian</h5>
  </div>
  <div class="race iconDiv">
    <img class="iconImg" src="/images/icons/race/elf.png">
    <h5 class="text-center">Race: Elf</h5>
  </div>
  <div class="AC iconDiv">
    <img class="iconImg" src="/images/icons/shield.png">
    <h5 class="text-center">AC: 20</h5>
  </div>
  <div class="initiative iconDiv">
    <img class="iconImg" src="/images/icons/initiative.png">
    <h5 class="text-center">Initiative: 2</h5>
  </div>
  <div class="speed iconDiv">
    <img class="iconImg" src="/images/icons/speed.png">
    <h5 class="text-center">Speed: 25</h5>
  </div>
  <div class="Abilities">

  </div>
  <div class="strength">
    <h6>Strength</h6>
    <h5 class="text-center abilityScore">14</h5>
    <h6 class="text-center abilityBonus green w-33">+2</h6>
  </div>
  <div class="dexterity">
    <h6>Dexterity</h6>
    <h5 class="text-center abilityScore">10</h5>
    <h6 class="text-center abilityBonus w-33">0</h6>
  </div>
  <div class="constitution">
    <h6>Constitution</h6>
    <h5 class="text-center abilityScore">8</h5>
    <h6 class="text-center abilityBonus w-33 red">-1</h6>
  </div>
  <div class="intelligence">
    <h6>Intelligence</h6>
    <h5 class="text-center abilityScore">12</h5>
    <h6 class="text-center abilityBonus w-33 green">+1</h6>
  </div>
  <div class="wisdom">
    <h6>Wisdom</h6>
    <h5 class="text-center abilityScore">9</h5>
    <h6 class="text-center abilityBonus w-33">0</h6>
  </div>
  <div class="charisma">
    <h6>Charisma</h6>
    <h5 class="text-center abilityScore">14</h5>
    <h6 class="text-center abilityBonus w-33 green">+2</h6>
  </div>
  <div class="proficiency iconDiv">
    <img class="iconImg" src="/images/icons/proficiency.png">
    <h5 class="text-center">Proficiency Bonus: +3</h5>
  </div>
  <div class="experience">
    <h5 class="inline" id="expText">EXP: 300</h5>
  </div>
  <div class="health">
    
  </div>
  <div class="hpbtn"></div>
  <div class="skills">
    <table class="table">
  <thead>
    <tr>
      <th scope="col">&#10003;</th>
      <th scope="col">Name</th>
      <th scope="col">Ability</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">&#10003;</th>
      <td>Acrobatics</td>
      <td>DEX</td>
    </tr>
    <tr>
      <th scope="row"></th>
      <td>Animal Handling</td>
      <td>WIS</td>
    </tr>
    <tr>
      <th scope="row"></th>
      <td>Arcana</td>
      <td>INT</td>
    </tr>
    <tr>
      <th scope="row"></th>
      <td>Athletics</td>
      <td>STR</td>
    </tr>
    <tr>
      <th scope="row"></th>
      <td>Deception</td>
      <td>CHA</td>
    </tr>
    <tr>
      <th scope="row"></th>
      <td>History</td>
      <td>INT</td>
    </tr>
    <tr>
      <th scope="row"></th>
      <td>Insight</td>
      <td>WIS</td>
    </tr>
    <tr>
      <th scope="row">&#10003;</th>
      <td>Intimidation</td>
      <td>CHA</td>
    </tr>
    <tr>
      <th scope="row"></th>
      <td>Investigation</td>
      <td>INT</td>
    </tr>
    <tr>
      <th scope="row"></th>
      <td>Medicine</td>
      <td>WIS</td>
    </tr>
    <tr>
      <th scope="row"></th>
      <td>Nature</td>
      <td>INT</td>
    </tr>
    <tr>
      <th scope="row">&#10003;</th>
      <td>Perception</td>
      <td>WIS</td>
    </tr>
    <tr>
      <th scope="row"></th>
      <td>Performance</td>
      <td>CHA</td>
    </tr>
    <tr>
      <th scope="row"></th>
      <td>Persuasion</td>
      <td>CHA</td>
    </tr>
    <tr>
      <th scope="row"></th>
      <td>Religion</td>
      <td>INT</td>
    </tr>
    <tr>
      <th scope="row">&#10003;</th>
      <td>Sleight of Hand</td>
      <td>DEX</td>
    </tr>
    <tr>
      <th scope="row">&#10003;</th>
      <td>Stealth</td>
      <td>DEX</td>
    </tr>
    <tr>
      <th scope="row"></th>
      <td>Survival</td>
      <td>WIS</td>
    </tr>
  </tbody>
</table>
  </div>
  <div class="items">
    <ul class="itemUl">
      <li class="item">Great-Axe</li>
      <li class="item">Healing Potion</li>
      <li class="item">Amulet</li>
      <li class="item">Club</li>
      <li class="item">Goggles of Night</li>
      <li class="item">Ladder</li>
      <li class="item">Jug</li>
      <li class="item">Net</li>
      <li class="item">Orb of Dragonkind</li>
      <li class="item">Paper</li>
    </ul>
  </div>
  <div class="savingthrows"></div>
  <div class="img">
    <img class="characterImg" src="/images/icons/characters/elf_barbarian.png">
  </div>
  <div class="spells"></div>
  <div class="expLogo iconDiv">
    <img class="iconImg" src="/images/icons/xp.png">
  </div>
  <div class="hpLogo iconDiv">
  <img class="iconImg" src="/images/icons/heart.png"></div>
</div>
