<div class="text-center">
    <ul class="myUL">Logos
        <li class="linkText" aria-current="true"><a class="linkText" href="https://icons8.com/icon/o8II04rkX02o/swords" target="_blank">Swords</a></li>
        <li><a class="linkText" href="https://www.reddit.com/r/DnD/comments/4t57fn/dd_5e_vector_icons/" target="_blank">DnD 5e Icons folder</a></li>
        <li><a class="linkText" href="https://icons8.com/icon/852/shield" target="_blank">AC Shield</a></li>
        <li><a class="linkText" href="https://icons8.com/icon/yUGu5KXHNq3O/heart" target="_blank">Heart</a></li>
        <li><a class="linkText" href="https://icons8.com/icon/GaZpR2EvNq5v/exp" target="_blank">EXP logo</a></li>
    </ul>
    <ul class="myUL">Character Images
        <li><a class="linkText" href="https://www.pngitem.com/" target="_blank">PNG Item</a></li>
        <li><a class="linkText" href="https://imgbin.com/index" target="_blank">IMG Bin</a></li>
        <li><a class="linkText" href="https://www.pngegg.com/en" target="_blank">PNG Egg</a></li>
        <li><a class="linkText" href="https://www.pngwing.com/en" target="_blank">PNG Wing</a></li>
        <li><a class="linkText" href="https://www.kindpng.com/" target="_blank">Kind PNG</a></li>
        <li><a class="linkText" href="https://www.seekpng.com/" target="_blank">Seek PNG</a></li>
    </ul>
    
    
    
    
    
    
</div>