<div>
    <h2>Logos</h2>
    <a href="https://icons8.com/icon/o8II04rkX02o/swords" target="_blank">Swords</a>
    <a href="https://www.reddit.com/r/DnD/comments/4t57fn/dd_5e_vector_icons/" target="_blank">DnD 5e Icons folder</a>
    <a href="https://icons8.com/icon/852/shield" target="_blank">AC Shield</a>
    <a href="https://icons8.com/icon/yUGu5KXHNq3O/heart" target="_blank">Heart</a>
    <a href="https://icons8.com/icon/GaZpR2EvNq5v/exp" target="_blank">EXP logo</a>

    <h2>Character Images</h2>
    <a href="https://www.pngitem.com/" target="_blank">PNG Item</a>
    <a href="https://imgbin.com/index" target="_blank">IMG Bin</a>
    <a href="https://www.pngegg.com/en" target="_blank">PNG Egg</a>
    <a href="https://www.pngwing.com/en" target="_blank">PNG Wing</a>
    <a href="https://www.kindpng.com/" target="_blank">Kind PNG</a>
    <a href="https://www.seekpng.com/" target="_blank">Seek PNG</a>
</div>