{{#if error}}
<div class="d-flex justify-content-center mt-4">
  <div id="alert" class="alert alert-danger w-50 " role="alert">
    <div class="d-flex">
      <h4 class="alert-heading">{{status}} Error</h4>
      <button style="margin-left: auto" type="button" class="btn-close" data-bs-dismiss="alert"
        aria-label="Close"></button>
    </div>
    <p>{{error}}</p>
  </div>
</div>
{{/if}}
{{#if warning}}
<div class="d-flex justify-content-center mt-4">
  <div id="alert" class="alert alert-warning w-50 " role="alert">
    <div class="d-flex">
      <h4 class="alert-heading">Warning</h4>
      <button style="margin-left: auto" type="button" class="btn-close" data-bs-dismiss="alert"
        aria-label="Close"></button>
    </div>
    <p>{{warning}}</p>
  </div>
</div>
{{/if}}
{{#each spells}}
<h1>{{Name}}</h1>
{{/each}}