<form action="/spells" method="POST">

    <label for="schoolIdPicker">School</label>
    {{!-- School picker --}}
    <select required name="SchoolId" id="schoolIdPicker">
        {{#each schools}}
        <option value="{{Id}}">{{Name}}</option>
        {{/each}}
    </select>

    {{!-- Level picker --}}
    <label for="levelPicker">Level</label>
    <select required name="Level" id="levelPicker">
        <option value="0">Cantrip</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
    </select>

    {{!-- Name --}}
    <label for="spellName">Name</label>
    <input required type="text" name="Name" id="spellName">

    {{!-- Description --}}
    <label for="spellDescription">Description</label>
    <input required type="text" name="Description">

    {{!-- Casting Time --}}
    <div id="castingTimeDiv">
        <label for="castingTime">Casting Time</label>
        <select name="CastingTime" id="castingTime">
            <option value="1 Action">1 Action</option>
            <option value="1 Bonus Action">1 Bonus Action</option>
            <option value="1 Reaction">1 Reaction</option>
            <option value="1 Minute">1 Minute</option>
            <option value="10 Minutes">10 Minutes</option>
            <option value="1 Hour">1 Hour</option>
            <option value="Custom">Custom</option>
            <option id="optionSetByCustom" value="" hidden></option>
        </select>
        <input hidden type="text" id="customCastingTime" name="customCastingTime">
    </div>

    {{!-- Components --}}
    <div id="componentsDiv">
        <h2>Components</h2>
        <label for="verbalButton">Verbal</label>
        <input type="checkbox" name="Verbal" id="verbalButton">

        <label for="somaticButton">Somatic</label>
        <input type="checkbox" name="Somatic" id="somaticButton">

        <label for="materialButton">Material</label>
        <input type="checkbox" name="Material" id="materialButton">
        <div id="materialsDiv" hidden>
            <label for="materials">Required Materials</label>
            <input type="text" name="Materials" id="materials">
        </div>
    </div>

    {{!-- Duration --}}
    <div id="durationDiv">
        <label for="durationSelect">Duration</label>
        <select name="durationSelect" id="Duration">
            <option value="Instantaneous">Instantaneous</option>
            <option value="1 Round">1 Round</option>
            <option value="1 Minute">1 Minute</option>
            <option value="10 Minutes">10 Minutes</option>
            <option value="30 Minutes">30 Minutes</option>
            <option value="1 Hour">1 Hour</option>
            <option value="8 Hours">8 Hours</option>
            <option value="Custom">Custom</option>
            <option id="durationSetByCustom" value="" hidden></option>
        </select>
        <input hidden type="text" id="customDuration" name="customDuration">
    </div>

    {{!-- Damage --}}
    <div id="damageDiv">
        <label for="damageInput">Damage</label>
        <input type="text" id="damageDiceQuantity">
        <select name="damageDice" id="damageDice">
            <option value="d4">d4</option>
            <option value="d6">d6</option>
            <option value="d8">d8</option>
            <option value="d10">d10</option>
            <option value="d12">d12</option>
            <option value="d20">d20</option>
            <option value="d100">d100</option>
        </select>
    </div>

    {{!-- Range --}}
    <div id="rangeDiv">
        <label for="rangeInput">Range</label>
        <select name="rangeInput" id="EffectRange">
            <option value="Self">Self</option>
            <option value="5 Feet">5 Feet</option>
            <option value="30 Feet">30 Feet</option>
            <option value="60 Feet">60 Feet</option>
            <option value="120 Feet">120 Feet</option>
            <option value="Custom">Custom</option>
            <option id="rangeSetByCustom" value="" hidden></option>
        </select>
        <input hidden type="text" id="customRange" name="customRange">
    </div>

    <div id="concentrationDiv">
        <label for="Concentration">Concentration</label>
        <input type="checkbox" name="Concentration" id="Concentration">
    </div>

    <div id="ritualDiv">
        <label for="Ritual">Ritual</label>
        <input type="checkbox" name="Ritual" id="Ritual">
    </div>

    <button class="btn btn-primary">Add</button>
</form>