/* override browser default */
html,
body {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100vw;
}

* {
    box-sizing: border-box;
}

:root {
    --backgroundColor: #313431;
    --textColor: white;
    --elevationColor: #484a48;
    --elevation2Color: #5f615f;
    --darkGreen: #26413C;
    --popColor: #7FB3C8;
    --popColorHover: #3E505B;
}

.containerGrid {  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
}

.charName { grid-area: 1 / 1 / 2 / 2; }

.level { grid-area: 1 / 2 / 2 / 3; }

.class { grid-area: 1 / 3 / 2 / 4; }

.race { grid-area: 1 / 4 / 2 / 5; }

.AC { grid-area: 1 / 5 / 2 / 6; }

.initiative { grid-area: 1 / 6 / 2 / 7; }

.speed { grid-area: 1 / 7 / 2 / 8; }

.Abilities { grid-area: 2 / 1 / 8 / 2; }

.strength { grid-area: 2 / 1 / 3 / 2; }

.dexterity { grid-area: 3 / 1 / 4 / 2; }

.constitution { grid-area: 4 / 1 / 5 / 2; }

.intelligence { grid-area: 5 / 1 / 6 / 2; }

.wisdom { grid-area: 6 / 1 / 7 / 2; }

.charisma { grid-area: 7 / 1 / 8 / 2; }

.experience { grid-area: 2 / 2 / 3 / 5; }

.health { grid-area: 3 / 2 / 4 / 5; }

.hpbtn { grid-area: 3 / 5 / 4 / 6; }

.skills { grid-area: 4 / 2 / 8 / 4; }

.items { grid-area: 4 / 4 / 8 / 6; }

.savingthrows { grid-area: 8 / 1 / 9 / 2; }

.img { grid-area: 2 / 6 / 8 / 8; }

.spells { grid-area: 8 / 2 / 9 / 8; }


#mainContainer {
    background-color: #1f201f;
    height: 100%;
    width: 100%;
}

.ability {
    background-color: var(--elevationColor);
}

.abilities {
    background-color: var(--elevation2Color);
    height: 50%;
    width: 50%;
}
.col{
    width: 100%;
}
#hpSkills {
    background-color: var(--elevationColor);
}

#savingThrows {
    width: 100%;
    height: 100%;
    background-color: var(--elevationColor);
}

#logoCol {
    width: 100%;
    background-color: var(--elevationColor);
}

.skills {
    background-color: var(--elevationColor);
}

.items {
    background-color: var(--elevationColor);
}

.savingThrows {
    background-color: var(--elevationColor);
    border: 2px solid black;
    border-radius: 1rem;
}

.fs-5rem {
    font-size: 5rem;
    color: var(--popColor);
}

.fs-1-5rem {
    font-size: 1.5rem;
    color: var(--popColor);
}

.h-10{
    height: 10%;
}
.h-20{
    height: 20%;
}
.h-33{
    height: 33%;
}
.w-33{
    width: 33%;
}
.block{
    width: 18%;
    display: block;
    margin: auto;
}
.mtop-1rem{
    margin-top: 0.8rem;
}
.fs-3rem{
    font-size: 3rem;
    color: var(--popColor);
}
