/* override browser default */
html,
body {
    margin: 0;
    padding: 0;
}

body {}

*,
*:before,
*:after {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
}

:root {
    --backgroundColor: #313431;
    --textColor: white;
    --elevationColor: #484a48;
    --elevation2Color: #5f615f;
    --darkGreen: #26413C;
    --popColor: #7FB3C8;
    --popColorHover: #3E505B;
    --brightGreen: #80EAAF;
    --midGreen: #4BC087;
    --midRed: #E96049;
}

.containerGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    padding: 2rem;
}

.charName {
    grid-area: 1 / 1 / 2 / 2;
}

.level {
    grid-area: 1 / 2 / 2 / 3;
}

.class {
    grid-area: 1 / 3 / 2 / 4;
}

.race {
    grid-area: 1 / 4 / 2 / 5;
}

.AC {
    grid-area: 1 / 5 / 2 / 6;
}

.initiative {
    grid-area: 1 / 6 / 2 / 7;
}

.speed {
    grid-area: 1 / 7 / 2 / 8;
}

.Abilities {
    grid-area: 2 / 1 / 8 / 2;
    background-color: var(--elevationColor);
    border-radius: 1rem;
}

.Strength {
    grid-area: 2 / 1 / 3 / 2;
    background-color: var(--elevation2Color);
    margin: 1rem;
    border: 1px solid black;
    padding: .25rem;
}

.Dexterity {
    grid-area: 3 / 1 / 4 / 2;
    background-color: var(--elevation2Color);
    margin: 1rem;
    border: 1px solid black;
    padding: .25rem;
}

.Constitution {
    grid-area: 4 / 1 / 5 / 2;
    background-color: var(--elevation2Color);
    margin: 1rem;
    border: 1px solid black;
    padding: .25rem;
}

.Intelligence {
    grid-area: 5 / 1 / 6 / 2;
    background-color: var(--elevation2Color);
    margin: 1rem;
    border: 1px solid black;
    padding: .25rem;
}


.Wisdom {
    grid-area: 6 / 1 / 7 / 2;
    background-color: var(--elevation2Color);
    margin: 1rem;
    border: 1px solid black;
    padding: .25rem;
}

.Charisma {
    grid-area: 7 / 1 / 8 / 2;
    background-color: var(--elevation2Color);
    margin: 1rem;
    border: 1px solid black;
    padding: .25rem;
}

.experience {
    grid-area: 8 / 1 / 9 / 2;
    background-color: var(--elevationColor);
    border-radius: 1rem;
    margin-top: 1rem;
}

.health {
    grid-area: 3 / 2 / 4 / 5;
    margin-left: 1rem;
}

.proficiency {
    grid-area: 2 / 2 / 3 / 3;
    margin-left: 1rem;
    background-color: var(--elevationColor);
    border-radius: 1rem;
}

.proficiency h5 {
    font-size: small;
}

.hpValues {
    grid-area: 2 / 4 / 4 / 5;
    z-index: 100;
}

.hpform {
    grid-area: 2 / 5 / 4 / 6;
    z-index: 100;
}


.hp {
    grid-area: 2 / 4 / 4 / 6;
    background-color: var(--elevationColor);
    border-radius: 1rem;
    margin-left: 1rem;
    margin-bottom: 1rem;
}

.skills {
    grid-area: 4 / 2 / 8 / 4;
    background-color: var(--elevationColor);
    border-radius: 1rem;
    margin-left: 1rem;
}

.items {
    grid-area: 4 / 4 / 8 / 6;
    background-color: var(--elevationColor);
    border-radius: 1rem;
    margin-left: 1rem;
}

.savingthrows {
    grid-area: 2 / 2 / 4 / 4;
    background-color: var(--elevationColor);
    border-radius: 1rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
}

.features {
    grid-area: 8 / 2 / 9 / 8;
    background-color: var(--elevationColor);
    border-radius: 1rem;
    margin-left: 1rem;
    margin-top: 1rem;
}

.raceFeats {
    grid-area: 8 / 2 / 9 / 4;
    background-color: var(--elevationColor);
    border-radius: 1rem;
    margin-left: 1rem;
    margin-top: 1rem;
}

.classFeats {
    grid-area: 8 / 4 / 9 / 6;
    background-color: var(--elevationColor);
    border-radius: 1rem;
    margin-left: 1rem;
    margin-top: 1rem;
}

.backgroundFeats {
    grid-area: 8 / 6 / 9 / 8;
    background-color: var(--elevationColor);
    border-radius: 1rem;
    margin-left: 1rem;
    margin-top: 1rem;
}

.img {
    grid-area: 2 / 6 / 5 / 8;
    position: relative;
}

.spells {
    grid-area: 5 / 6 / 8 / 8;
    background-color: var(--elevationColor);
    margin-left: 1rem;
    border-radius: 1rem;
}

.green {
    color: var(--midGreen);
    font-weight: bold;
}

.red {
    color: var(--midRed);
    font-weight: bold;
}

.abilityBonus {
    border: 1px solid black;
    border-radius: 1rem;
    padding: .5rem;
    margin: auto;
}

.w-33 {
    width: 33%;
}

.iconImg {
    width: 50%;
    margin: auto;
    display: block;
}

.iconDiv {
    background-color: var(--elevationColor);
    margin: 1rem;
    margin-top: 0;
    border-radius: 1rem;
}

.characterImg {
    max-height: 100%;
    max-width: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

#expImg {
    display: inline;
    width: 20%;
}

#expDiv {
    margin-left: 1rem;
}

.inline {
    display: inline;
}

#expText {
    font-size: 2rem;
    margin-left: 6rem;
}

#hpImg {}

.abilityScore {
    font-size: 2rem;
}

td {
    color: var(--textColor);
}

tr {
    color: var(--textColor);
}

.table {
    max-height: 100% !important;
}

#savingThrowTable {
    max-height: min-content;
}

#hrhp {
    margin: auto !important;
    width: 100%;
    color: var(--textColor);
    height: 5px;
    opacity: 50%;
}

.myContainer {
    position: relative;
    align-items: center;
}

.verticalCenter {
    margin: 0;
    position: absolute;
    top: 44%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

}
.textSizeBigger{
    font-size: 8rem;
}
.plusIcon{
    margin: 0;
    position: absolute;
    top: 25%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.minusIcon{
    margin: 0;
    position: absolute;
    top: 75%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button { 
      -webkit-appearance: none; 
      margin: 0; 
}
.inputNumber{
    background: transparent;
    color: var(--textColor);
    width: 75%;
    border-radius: .5rem;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.btnhp{
    height: 25%;
    width: auto;
    background:transparent;
    border: none;
}
.btnhp:hover{
    background-color: var(--popColorHover);
    border-radius: 1rem;
}
.d20Skill{
    max-height: 25px;
}